@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@view-transition {
  navigation: auto;
}

@layer base {
  :root {
    /* --font-family: 'Segoe UI', Roboto, sans-serif; */

    --primary: oklch(0.645 0.246 16.439);

    --primary-foreground: oklch(0.969 0.015 12.422);


    --background-light: oklch(1 0 0);
    --background-dark: oklch(0.141 0.005 285.823);

    --secondary-light: oklch(0.967 0.001 286.375);
    --secondary-dark: oklch(0.274 0.006 286.033);

    --foreground-light: oklch(0.21 0.006 285.885);
    --foreground-dark: oklch(0.985 0 0);

    --border-light: oklch(0.92 0.004 286.32);
    --border-dark: oklch(1 0 0 / 10%);
  }
}

@theme {
  /* --default-font-family: 'Segoe UI', Roboto, sans-serif; */

  --color-background: var(--background-light);
  --color-foreground: var(--background-dark);
  --color-card: var(--background-light);
  --color-card-foreground: var(--background-dark);
  --color-popover: var(--background-light);
  --color-popover-foreground: var(--background-dark);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary-light);
  --color-secondary-foreground: var(--foreground-light);
  --color-muted: var(--secondary-light);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: var(--secondary-light);
  --color-accent-foreground: var(--foreground-light);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: var(--border-light);
  --color-input: var(--border-light);
  --color-ring: var(--primary);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-sidebar: var(--foreground-dark);
  --color-sidebar-foreground: var(--background-dark);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-accent: var(--secondary-light);
  --color-sidebar-accent-foreground: var(--foreground-light);
  --color-sidebar-border: var(--border-light);
  --color-sidebar-ring: var(--primary);

  --tw-shadow-color: var(--primary);
}

.dark {
  --color-background: var(--background-dark);
  --color-foreground: var(--foreground-dark);
  --color-card: var(--foreground-light);
  --color-card-foreground: var(--foreground-dark);
  --color-popover: var(--foreground-light);
  --color-popover-foreground: var(--foreground-dark);
  --color-secondary: var(--secondary-dark);
  --color-secondary-foreground: var(--foreground-dark);
  --color-muted: var(--secondary-dark);
  --color-muted-foreground: oklch(0.705 0.015 286.067);
  --color-accent: var(--secondary-dark);
  --color-accent-foreground: var(--foreground-dark);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: var(--border-dark);
  --color-input: oklch(1 0 0 / 15%);
  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: var(--primary);
  --color-sidebar: var(--foreground-light);
  --color-sidebar-foreground: var(--foreground-dark);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-accent: var(--secondary-dark);
  --color-sidebar-accent-foreground: var(--foreground-dark);
  --color-sidebar-border: var(--border-dark);

  && body {
    background-color: var(--background-dark) !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 480px;
  justify-content: space-between;
  background-color: var(--background-light);
  scroll-behavior: smooth;
}